@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap");

:root {
  --primary-color: #edbdb6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--primary-color);
  color: #333;
  line-height: 1.8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

p {
  text-align: justify;
  text-indent: 50px;
  display: block;
}

q {
  font-style: italic;
  font-weight: 700;
}

/* Page header */
#page_header {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Navbar */
.navbar .container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar a {
  padding: 20px;
  color: #fff;
}

.navbar a:hover {
  color: var(--primary-color);
  border-bottom: 3px solid;
}

/* Logo */
#logo {
  font-family: "Imperial Script", cursive;
  font-size: 2rem;
  font-weight: 100;
  min-width: 180px;
}

#logo p {
  display: inline;
}

#logo strong {
  font-size: 3rem;
  color: var(--primary-color);
}

/* All sections */
section {
  margin-top: 20px;
}

section header {
  margin-bottom: 20px;
}

/* Home */
#home {
  margin-bottom: 0px;
  height: 100vh;
  background: url("../images/sky.jpg") no-repeat center center/cover;
  margin-top: 0;
  background-attachment: fixed;
  position: relative;
  color: #fff;
  z-index: 1;
}

#home .container {
  height: 100%;
}

#home:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: #333;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .flex-horizontal {
  height: 100%;
  align-items: center;
}

#home .flex-item img {
  height: 500px;
  margin: 20px auto;
  display: block;
  transform: rotate(-10deg);
}

#home .flex-item.no-padding {
  padding: 0;
}

#home ul {
  list-style: disc;
  margin-left: 50px;
  font-weight: 500;
  font-size: 1.3rem;
}

#home ul li {
  margin: 20px 0;
}

#home .btn {
  margin-left: 30%;
  display: block;
  width: fit-content;
}

/* Author */
#author .flex-item img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 400px;
}

#author .flex-horizontal {
  align-items: center;
}

#author .flex-item p {
  margin: 30px 10px;
}

/* About */
#about .flex-item {
  min-width: 300px;
}

#about .flex-item p {
  margin: 30px 10px;
}

#about .verses p {
  font-weight: 700;
  text-align: center;
}

#about .verses p q {
  display: block;
  margin-bottom: 15px;
}

/* Get a Copy */
#get_a_copy .flex-item {
  color: #fff;
  background: #333;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  width: 24%;
  min-width: 285px;
  flex-grow: 1;
}

#get_a_copy a p {
  text-overflow: ellipsis;
  overflow: hidden;
}

#get_a_copy .container > p {
  margin: 20px;
  text-indent: 0;
}

#get_a_copy .flex-item a {
  color: #fff;
}

#get_a_copy .flex-item:hover {
  background: #fff;
}

#get_a_copy .flex-item:hover a {
  color: #333;
}

/* Reviews */
#reviews .flex-item img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Footer */
.footer,
.footer p {
  text-align: center;
}

.footer p {
  text-indent: 0;
}

.footer .container * {
  margin: 10px;
}

.footer a {
  color: #fff;
}

.social a:hover {
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .flex-horizontal {
    flex-direction: column;
  }

  #home {
    height: 100%;
    padding-top: 20px;
  }

  #home .flex-item img {
    height: 400px;
  }

  #get_a_copy .flex-item {
    width: 100%;
  }

  #page_header {
    position: static;
  }

  .container h1,
  .container h2 {
    text-align: center;
  }

  .navbar .container {
    flex-direction: column;
    height: 100%;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar ul li {
    width: 100%;
    text-align: center;
  }

  .navbar a {
    padding: 0;
  }

  .navbar nav,
  #author .flex-item img {
    width: 100%;
    min-width: 100px;
    margin: 0 auto 20px auto;
  }

  .navbar a:hover {
    color: var(--primary-color);
    border-bottom: none;
  }

  #about .verses p {
    text-align: justify;
  }

  .flex-item {
    padding: 10px 20px;
  }

  #reviews .flex-item img {
    margin: 0 auto 20px auto;
    display: block;
  }

  #review .flex-item,
  #get_a_copy .container .flex-item p,
  #reviews figcaption {
    text-align: center;
  }

  #reviews q {
    display: block;
    text-align: justify;
  }

  #get_a_copy a p {
    overflow-wrap: break-word;
    display: inline;
  }

  .footer p {
    text-indent: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  #home .flex-item img {
    height: 300px;
  }

  #home h2 {
    font-size: 1.2rem;
    text-align: justify;
  }

  #home ul {
    font-size: 1.2rem;
  }

  .footer .container * {
    margin: 8px;
  }
}
