.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.flex-item {
  padding: 30px 50px;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-horizontal.flex-reverse {
  flex-direction: row-reverse;
}

.flex-horizontal .flex-item {
  flex: 1;
}

.rounded-border {
  border-radius: 10px;
}
